<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{userName}}</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><button class="btn btn-danger" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</button></li>
    </ul>
  </div>
</nav>

{{this.messages | json}}

<div class="container">
  <div class="row chat-window col-xs-5 col-md-3" id="chat_window_1" style="margin-left:10px;">
    <div class="col-xs-12 col-md-12">
      <div class="panel panel-default">
        <div class="panel-body msg_container_base">
          <div class="row msg_container {{ item.user === this.userName ? 'base_sent' : 'base_receive' }}" *ngFor="let item of messages">
            <div class="col-md-10 col-xs-10" *ngIf="!item.userJoined">
              <div class="messages {{ item.user === this.userName ? 'msg_sent' : 'msg_receive' }}">
                <p>
                  <strong *ngIf="this.userName === item.user; else UserOther">You:</strong>
                  <ng-template #UserOther>
                      <strong>{{item.user}}:</strong>
                  </ng-template>
                </p>
                <p>{{item.message}}</p>
              </div>
            </div>
            <div class="col-md-12" *ngIf="item.userJoined">
              <div class="messages joined">
                {{item.message}}
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <form (ngSubmit)="send()">
            <div class="input-group">
              <input id="btn-input" type="text" name="message" [(ngModel)]="message" class="form-control input-sm chat_input" placeholder="Write your message here..." />
              <span class="input-group-btn">
                <button class="btn btn-primary btn-sm" id="btn-chat">Send</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>